{% extends 'post/index.html' %}

{% block title %} Информация о посте {% endblock title %}


{% block content %}

    <div class="postinformation">
        <h1>Заголовок поста: {{ post.title }}</h1>
        <h2>Автор поста: {{ post.author }}</h2>
        <h2>Дата публикации: {{ post.published_at }}</h2>
        <div class="post_info">
             <p> <strong style="font-size: 25px">Описание поста </strong>: {{ post.description }}</p>
        </div>
        <h1>Комментарии к посту</h1>
        {% for comment in comments %}
            <div class="comment">
                   <p><strong style="font-size: 22px">Автор: </strong><span style="font-size: 20px"> {{ comment.comment_author }}</span><br> Описание:  {{ comment.content }} </p>
                    <button style="font-size: 20px; border-radius: 25px; padding: 10px;">
                        <a href="{% url 'delete_comment' comment_id=comment.id post_id=post.id %}" style="text-decoration: none;">
                                Удалить
                        </a>
                    </button>
            </div>
        {% endfor %}

        <form action="{% url 'add_comment' post_id=post.id %}" method="POST">
            {% csrf_token %}
            <h3>Добавить комментарий</h3>
            <textarea name="comment_name" id="" cols="30" rows="10" placeholder="Комментарий"></textarea>
            <br><br>
            <input style="width: 260px; height: 35px;" type="text" placeholder="Имя автора" name="comment_author">
            <br><br>
            <button style="width: 100px; height: 60px; border-radius: 15px; padding: 15px;">Добавить</button>
        </form>

</div>
{% endblock content %}

